# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask instance folder
instance/

# Configuration files
*.env
*.ini
*.json

# Pytest cache
.cache/
*.cover

# Coverage reports
htmlcov/
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE and editor specific files
.idea/
.vscode/
*.swp

# Logs
*.log

# Miscellaneous
*.DS_Store  # macOS Finder metadata
Thumbs.db    # Windows thumbnail cache
